@font-face {
  font-family: "THICCCBOI";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("THICCCBOI Bold"), local("THICCCBOI-Bold"),
    url("../fonts/THICCCBOI/THICCCBOI-Bold.ttf");
}

@font-face {
  font-family: "THICCCBOI";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local("THICCCBOI Regular"), local("THICCCBOI-Regular"),
    url("../fonts/THICCCBOI/THICCCBOI-Regular.ttf");
}

@font-face {
  font-family: "THICCCBOI";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local("THICCCBOI Medium"), local("THICCCBOI-Medium"),
    url("../fonts/THICCCBOI/THICCCBOI-Medium.ttf");
}

@font-face {
  font-family: "Dm Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("DMSans Bold"), local("DMSans-Bold"),
    url("../fonts/DM_Sans/DMSans-Bold.ttf");
}
